/* style.css */

body {
    margin: 10% 0% 0% 20%;
    height: 100vh;

    background-image: url('../images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 7px;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

.X {
    background-image: url('../images/x.png');
}
  
.O {
    background-image: url('../images/o.png');
}
  